* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #000000;
}

html {
  background-color: #eef1fc;
}

#logo {
  position: absolute;
  width: 225px;
  height: 110px px;
  left: 32px;
  top: 32px;
}

/* CONTEÚDOS DA ESQUERDA */

/* Imagem */
#cat,
#dots,
#circle {
  position: absolute;
}

#cat {
  width: 520px;
  height: 560px;
  left: 130px;
  top: 25px;

  z-index: 2;
}

#dots {
  width: 160px;
  height: 207px;
  left: 449px;
  top: 319px;

  z-index: 1;
}

#circle {
  width: 325px;
  height: 375px;
  height: 325px;
  left: 221px;
  top: 155px;

  z-index: 0;

  background: rgb(249, 225, 249);
  border-radius: 346px;
}

/* Textos */
#h1Info,
#pInfo {
  position: absolute;
  font-style: normal;
  text-align: center;
}

#h1Info {
  width: 367px;
  height: 59px;
  left: 205px;
  top: 525px;

  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

#pInfo {
  width: 436px;
  height: 90px;
  left: 170px;
  top: 605px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

/* CONTEÚDOS DA DIREITA */

/* background */

#backgroundLogin {
  position: absolute;
  width: 735px;
  height: 720px;
  left: 800px;

  background: #ffffff;
  box-shadow: 0px 4px 65px rgb(0 0 0 / 25%);
}

/* Área de login */

/* Créditos */

#credits {
  position: absolute;
  width: 230px;
  height: 25px;
  left: 1090px;
  top: 671px;
  color: #000;
  align-items: center;
}

#linkGithub {
  font-weight: bold;
  color: #8699da;
}
